.button{
  border: none;
  border-radius: 3px;
  color:white;
  // margin-right: 8em;
}

.button-add{
  background-color: $button-green;
  border: .3rem solid darken($button-green, 5%);
  padding: .7em;
  position: relative;
  top: -0.4em;
}

.button-delete{
  display: inline-block;
  background-color: $button-red;
  border: .3rem solid darken($button-red, 5%);
  padding: .5em;
}

.button-delete:disabled {
  opacity: 0.3;
}

.task-text{
  display: inline-block;
  // margin-left: 3em;
}
